<!DOCTYPE html>
<html>
<head>
	<title>TEAM INFO</title>
</head>
<body>
	<h1><%=@team.name%> </h1>
	<h2>Team Motto: <%=@team.motto%></h2>
	<h2>Hero Name: <%=@hero.name%></h2>
	<h3>Hero Power: <%=@hero.power%></h3>
	<h3>Hero Biography: <%=@hero.bio%></h3>
	<h2>Hero Name: <%=@hero2.name%></h2>
	<h3>Hero Power: <%=@hero2.power%></h3>
	<h3>Hero Biography: <%=@hero2.bio%></h3>
	<h2>Hero Name: <%=@hero3.name%></h2>
	<h3>Hero Power: <%=@hero3.power%></h3>
	<h3>Hero Biography: <%=@hero3.bio%></h3>



</body>
</html>
